@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-bg-color: #2874f0;

}

* {
    padding: 0;
    margin: 0;
}

header {
    height: 40px;
    background-color: var(--main-bg-color);
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0px 20px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

nav ul li {
    list-style: none;
    padding: 0px 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: white;
    font-weight: bold;

}

.search {
    display: flex;
    align-items: center;
    
}

.search input {
    width: 30vw;
    height: 22px;
    margin: 0px 5px 0px 50px;
    padding: 0px 12px;
    border-radius: 5px ;
}
.slider{
    overflow: hidden;
    margin: 12px auto;
    
}
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.container {
    min-height: calc(100vh - 70px - 40px);
}
.flex-all-centre{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}
footer {
    height: 70px;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto', sans-serif;
}