@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-bg-color: #2874f0;

}

* {
    padding: 0;
    margin: 0;
}

header {
    height: 40px;
    background-color: var(--main-bg-color);
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0px 20px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

nav ul li {
    list-style: none;
    padding: 0px 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: white;
    font-weight: bold;

}

.search {
    display: flex;
    align-items: center;
    
}

.search input {
    width: 30vw;
    height: 22px;
    margin: 0px 5px 0px 50px;
    padding: 0px 12px;
    border-radius: 5px ;
}
.slider{
    overflow: hidden;
    margin: 12px auto;
    
}
h1 {
    margin: 0;
    padding: 0px 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}
p {
    margin-bottom: 15px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.nameForm,
input[type="email"],
textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
.flex-all-centre{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}
.btn{
    padding: 2px 7px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid rgb(234, 238, 251);
    border-radius: 5px ;
}
.btn:hover{
    font-weight: bold;
    cursor: pointer;
    
}
.text-centre{
    text-align: center;
}

.container {
    min-height: calc(100vh - 70px - 40px);
}

footer {
    height: 70px;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto', sans-serif;
}
.lol{
    padding: 0 50vh;
}