
.btn{
    padding: 2px 7px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid rgb(234, 238, 251);
    border-radius: 5px ;
}
.btn:hover{
    font-weight: bold;
    cursor: pointer;
    
}
.text-centre{
    text-align: center;
}